:host{
  height: 280px!important;
  display: flex;
  width: 100vw;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 280px;
  background-image: url('/assets/pattern-bg-desktop.jpg');
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;
  background-color: #4a4fad;
}

.title{
  color: white;
  font-size: 32px;
  font-weight: medium;
  letter-spacing: -0.3px;
  line-height: 30px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

input{
   border-radius: 15px 0px 0px 15px;
   border: 0px;
   padding: 18px 24px;
   width: 100%;
   font-size: 18px;
   letter-spacing: 0px;
}

input:focus-visible{
  outline: none;
}

button{
  padding: 23px;
  border: none;
  background-color: black;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  display: flex;
}

button:hover{
  background-color: #3F3F3F;
  transition: all ease-in-out 0.3s;
}

@media (max-width: 950px) {
  .title{
    font-size: 26px;
    margin-top: 26px;
    margin-bottom: 29px;
  }
  .wrapper{
    height: 50vh;
    text-align: center;
  }

  form{
    width: 80%;
  }
}