<div class="ip-info">
  <div class="info-wrapper">
    <span class="subtitle">IP ADDRESS</span>
    <h2 class="info">{{data.ip_address}}</h2>
  </div>
  <div class="info-wrapper">
    <span class="subtitle">LOCATION</span>
    <h2 class="info">{{data.location}}</h2>
  </div>
  <div class="info-wrapper">
    <span class="subtitle">TIMEZONE</span>
    <h2 class="info">{{data.timezone}}</h2>
  </div>
  <div class="info-wrapper">
    <span class="subtitle">ISP</span>
    <h2 class="info">{{data.isp}}</h2>
  </div>
</div>